[submodule "lib/micropython-mqtt"]
	path = lib/micropython-mqtt
	url = https://github.com/peterhinch/micropython-mqtt.git
[submodule "lib/micropython-async"]
	path = lib/micropython-async
	url = https://github.com/peterhinch/micropython-async.git
